/*
HTML 5 Template Name: 
File: 404 - 21 CSS
Author: OS Templates
Author URI: http://www.os-templates.com/
Licence: <a href="http://www.os-templates.com/template-terms">Website Template Licence</a>
*/

html,body{display:block; width:100%; margin:80px 0 100px 0; line-height:1.6em; text-align:center;}
 .fl_left{}
 .fl_left h1{margin:0; padding:0; font-size:220px;}
 .fl_left h1 strong{color:#000000; background-color:#FFFFFF;}
 .fl_left h1 span{font-size:60px;}
 .fl_right{margin-top:60px; text-align:left;}
 .fl_right h2{font-size:30px; text-align:center; text-transform:uppercase;}
 p{display:block; margin:25px 0 0 0; padding:0; clear:both; font-size:16px;}
 p a.go-back{}
 p a.go-home{}