<div class="container grid-lg">
    <header class="navbar">
            <section class="navbar-section">
              <a href="/" class="btn btn-link  "><b><i>GoSpot</i></b></a>
              <a href="/" class="btn btn-link" >{{ if .Url == "/" }}  <b>  Recent </b>{{ else }} Recent {{ end }}</a>
              <a href="/news" class="btn btn-link" >{{ if .Url == "/news" }}  <b>  News </b>{{ else }} News {{ end }}</a>
              <a href="/post" class="btn btn-link" >{{ if .Url == "/post" }}  <b>  Posts </b>{{else}}  Post{{end}}</a>
	      <a target="_blank" class="btn btn-link" href="https://www.amazon.in/gp/search/ref=as_li_qf_sp_sr_tl?ie=UTF8&tag=mchamp-21&keywords=golang books&index=aps&camp=3638&creative=24630&linkCode=ur2&linkId=82e1fb18c1927438c805fb69790f56a6">Books</a><img src="//ir-in.amazon-adsystem.com/e/ir?t=mchamp-21&l=ur2&o=31&camp=3638" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />	
              <a href="http://www.mchampaneri.in/p/about-me.html" class="btn btn-link">About Me</a>
            </section>
            <section class="navbar-section">
                <form action="/search" method="get">
                <div class="input-group input-inline">
                    <input  class="form-input" type="text" name="s" placeholder="Search Through Feeds">
                    <button type="submit" class="btn btn-primary input-group-btn">Search</button>
                </div>
                </form>
            </section>
    </header>
    </div>