<!DOCTYPE html>
<html>
<head>
	<title>Cobrastack</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />
	<link rel="stylesheet" type="text/css" href="/public/css/app.css">
</head>
<body>

		<br>

		<div class="container grid-lg">
		<header class="navbar">
				<section class="navbar-section">
				  <a href="/" class="btn btn-link"><b>MEZone</b></a>
				  <a href="/" class="btn btn-link">Latest Feed</a>
				  <a href="/about" class="btn btn-link">About Content</a>
				  <a href="http://www.mchampaneri.in/p/about-me" class="btn btn-link">About Me</a>
				</section>
				<section class="navbar-section">
					<form action="/search" method="get">
					<div class="input-group input-inline">
						<input  class="form-input" type="text" name="s" placeholder="Search Through Feeds">
						<button type="submit" class="btn btn-primary input-group-btn">Search</button>
					</div>
					</form>
				</section>
		</header>
		</div>

	
		<div class="divider"></div>

		<div class="container grid-lg">

		

			<br>

			{{ if isset(.query) }}
				<h6> You have searched for : <a href="/search?s={{.query}}">{{.query}}</a></h6>
			{{ end }}

			<div class="columns">
				{{ range  item := .feed}}
				<div class="column col-4 col-sm-12">
						<div class="card" style="margin-bottom:10px;">						
								<div class="card-header">
								<div class="card-title h5">{{ item.Title | raw }}</div>
									{{ if isset(item.Author)}}
								<div class="card-subtitle text-gray">	{{ item.Author}} <br> </div>
								{{ end }}
								</div>
								<div class="card-body">
										{{ item.Content | notags }} ... 
								</div>
								<div class="card-footer">
								<a href="{{item.Link}}" class="btn btn-link">Read More</a>
								<p>
								{{ range cats := item.Labels }}
										<span class="chip">{{ cats }}</span>
									{{ end }}
								</p>
								</div>
						</div>
					
				</div>
				{{ else }}
				<div class="empty col-12">
						<div class="empty-icon">
						  <i class="icon icon-people"></i>
						</div>
						<p class="empty-title h5">No relative content Found For <a href="/search?s={{.query}}">
							 {{.query}}</a></p>
						<p class="empty-subtitle">might be added soon</p>						
				</div>
				{{ end }}
			</div>
		</div>

</body>
</html>