{{ extends "layout/main.html"}}

{{ block PageContent() }}
			<br>

			{{ if isset(.query) }}
				<h6> You have searched for : <a href="/search?s={{.query}}">{{.query}}</a></h6>
			{{ end }}

			<div class="columns">
				{{ range  item := .feed}}
				<div class="column col-4 col-sm-12">
						<div class="card" style="margin-bottom:10px;">						
								<div class="card-header">
									<a  target="new"  href="/target?t={{item.Link}}" ><div class="card-title "><h5>{{ item.Title | raw }}</h5></div></a>
								<div class="card-subtitle text-gray">	{{ item.Author}} <br> </div>
								</div>
								<div class="card-body">
										{{ item.Content | notags }} ... 
								</div>
								<div class="card-footer">
								<p>
								{{ range cats := item.Labels }}
										<span class="chip">{{ cats }}</span>
									{{ end }}
								</p>
								<p>Total Hits : {{ item.Hit }}</p>
								</div>
						</div>
					
				</div>
				{{ else }}
				<div class="empty col-12">
						<div class="empty-icon">
						  <i class="icon icon-people"></i>
						</div>
						<p class="empty-title h5">No relative content Found{{ if isset(.query)}} For <a href="/search?s={{.query}}">
							 {{.query}}</a> {{ end }}</p>
						<p class="empty-subtitle">might be added soon</p>						
				</div>
				{{ end }}
			</div>
{{ end }}