<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    {{ range  .users }}
        <li>{{ .Email }} : {{ .Password }}</li>
    {{ end}}
</body>
</html>