<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
<form action="/register" method="post">
    <input type="hidden" name="gorilla.csrf.Token" value="{{ .Token }}">
    <label for="">Email</label>
    <input type="text" name="email">
    <br>

    <label for="">Password</label>
    <input type="text" name="password">
    <br>
    <button type="submit">Register</button>
</form>
</body>
</html>